{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <h2 class="pb-5">Formulaire - commentaire</h2>
    {{ form_start(commentaireForm) }}
        
    {{ form_end(commentaireForm) }}

{% endblock %}
