{% extends 'baseAdmin.html.twig' %}

{% block body %}

    <h2 class="pb-5">Formulaire - métiers</h2>
    {{ form_start(metiersForm) }}
        {{ form_row(metiersForm.metier) }}
    {{ form_end(metiersForm) }}

{% endblock %}
