{% extends 'baseAdmin.html.twig' %}

{% block title %} user - formulaire {% endblock title %}

{% block body %}
    
<h2 class="pb-5"> Formulaire - user</h2>

{{ form_start(userForm)}}
{{ form_end(userForm)}}

{% endblock body %}