<p>
    <b>  Coordonnées du contact :</b>
      <ul>
          <li>Nom : {{ pseudo|upper }} </li>
          <li>Email : {{ email }}</li>
      </ul>
  </p>
  
  
  
  <p> <b> Object : </b> {{ objet}} </p>
  <p > <b>Message :</b> </p>
  <p> {{ message|nl2br }} </p>