<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Dev-nation | {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link
    
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../public/css/style.css" />

    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    <div class="background">
      <header>
        <div class="logo">
          <a href="{{ path('home') }}"><img src="../public/img/logo.png" alt="logo" /></a>
          
        </div>
        <nav>
          <ul>
            <li class="home-button">
              <a href="{{ path('home') }}"
                ><img src="../public/img/icons/home 1-vert.png" alt="icon-home"
              /></a>
            </li>
            <li class="forum-button">
              <a href="{{ path('forum') }}"
                ><img
                  src="../public/img/icons/discussion 1.png"
                  alt="icon-home"
                  onmouseover="this.src='..//public/img/icons/discussion 1-vert.png'"
                  onmouseout="this.src='../public/img/icons/discussion 1.png'"
              /></a>
            </li>
            <li class="account-button">
              <a href="{{ path('app_login') }}"
                ><img
                  class="icon-account"
                  src="../public/img/icons/account 2.png"
                  alt="icon-home"
                  onmouseover="this.src='..//public/img/icons/account 2-vert.png'"
                  onmouseout="this.src='../public/img/icons/account 2.png'"
              /></a>
            </li>
          </ul>
        </nav>
      </header>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
